.container {
    display: flex;
  }
  
  .left-class {   
    width: 260px;
    float: left;
    background-color: beige;

  }
  
  .center-class {
    margin-left: 50px;
  }

  .dropdown{
    float: right;
  }



  .link {
    display: block;
    font-size: 18px;
    padding: 10px 20px;
    color:black;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid black;
  }

  .link::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url("assets/icons/baseline_home_black_24dp.png");
    /* Các thuộc tính background-image và background-position khác (nếu cần) */
  }
  
  .link:hover {
    background-color: #ffa500;
  }

  .custom-button {
    /* CSS cho nút button */
    position: absolute;
    margin-left: 30px;
  }
  