################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/Api/config/applicationhost.config
/backend/.vs/Api/DesignTimeBuild/.dtbcache.v2
/backend/.vs/Api/FileContentIndex/21a0b323-ef54-46a0-882e-8a7742d6abb1.vsidx
/backend/.vs/Api/FileContentIndex/9c0d32c2-a173-4885-8406-9baa16e8c3af.vsidx
/backend/.vs/Api/v17/.futdcache.v2
/backend/.vs/Api/v17/.suo
/backend/.vs/ProjectEvaluation/api.metadata.v7.bin
/backend/.vs/ProjectEvaluation/api.projects.v7.bin
/backend/Api/bin/Debug/net5.0/Api.deps.json
/backend/Api/bin/Debug/net5.0/Api.dll
/backend/Api/bin/Debug/net5.0/Api.pdb
/backend/Api/bin/Debug/net5.0/Api.runtimeconfig.dev.json
*.xml
/backend/Api/bin/Debug/net5.0/appsettings.json
/backend/Api/obj/Debug/net5.0/ref/Api.dll
/backend/Api/obj/Debug/net5.0/refint/Api.dll
/backend/Api/obj/Debug/net5.0/Api.pdb
/backend/Api/obj/Debug/net5.0/Api.csproj.AssemblyReference.cache
/backend/Api/obj/Debug/net5.0/Api.csproj.CoreCompileInputs.cache
/backend/Api/obj/Debug/net5.0/Api.csproj.FileListAbsolute.txt
/backend/Api/obj/Debug/net5.0/Api.dll
/backend/Api/obj/Debug/net5.0/Api.genruntimeconfig.cache
/backend/Api/Api.csproj.user
/.vscode/
*.vsidx
*.json
*.json
backend/Api/obj/project.assets.json
backend/Api/obj/Api.csproj.nuget.dgspec.json
backend/Api/obj/project.assets.json
web-ui/.idea/web-ui.iml
backend/Api/obj/project.assets.json
backend/Api/obj/project.nuget.cache
backend/Api/obj/Api.csproj.nuget.dgspec.json
backend/Api/obj/Api.csproj.nuget.dgspec.json
backend/Api/obj/project.assets.json
backend/Api/obj/project.nuget.cache
web-ui/yarn.lock
