.button-modal{
    font-weight: 600;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    border-width: 0;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-color: rgb(6, 62, 155);
    background-color: rgb(6, 62, 155);
    color: rgb(255 255 255);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.button-modal:hover{
    opacity: 0.8;
}

.icon{
    position: absolute;
    top: 0.75rem;
    left: 1rem;
}
